<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.jboss.jca.adapters.sap.model.cci.presentation.CciModelWizardID"
            name="%_UI_CciModelWizard_label"
            class="org.jboss.jca.adapters.sap.model.cci.presentation.CciModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CciModelFile.gif">
         <description>%_UI_CciModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.jboss.jca.adapters.sap.model.cci.presentation.CciEditorID"
            name="%_UI_CciEditor_label"
            icon="icons/full/obj16/CciModelFile.gif"
            extensions="cci"
            class="org.jboss.jca.adapters.sap.model.cci.presentation.CciEditor"
            contributorClass="org.jboss.jca.adapters.sap.model.cci.presentation.CciActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.jboss.jca.adapters.sap.model.spi.presentation.SpiModelWizardID"
            name="%_UI_SpiModelWizard_label"
            class="org.jboss.jca.adapters.sap.model.spi.presentation.SpiModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SpiModelFile.gif">
         <description>%_UI_SpiModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.jboss.jca.adapters.sap.model.spi.presentation.SpiEditorID"
            name="%_UI_SpiEditor_label"
            icon="icons/full/obj16/SpiModelFile.gif"
            extensions="spi"
            class="org.jboss.jca.adapters.sap.model.spi.presentation.SpiEditor"
            contributorClass="org.jboss.jca.adapters.sap.model.spi.presentation.SpiActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.jboss.jca.adapters.sap.ui.view.SapConnectionsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
