<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.jca.adapters.sap.ui.category"
            name="nameJBoss SAP JCA Connector">
      </category>
      <view
            allowMultiple="false"
            category="org.jboss.jca.adapters.sap.ui.category"
            class="org.jboss.jca.adapters.sap.ui.view.SapConnectionsView"
            icon="icons/connections.gif"
            id="org.jboss.jca.adapters.sap.ui.view.SapConnectionsView"
            name="SAP Connections "
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.jboss.jca.adapters.sap.ui.view.SapConnectionsView?before=edit">
         <command
               commandId="org.jboss.jca.adapters.sap.ui.editManagedConnectionFactoryCommand"
               label="Edit Managed Connection Factory"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ManagedConnectionFactorySelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.jca.adapters.sap.ui.editManagedConnectionCommand"
               label="Edit Managed Connection"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ManagedConnectionSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.jca.adapters.sap.ui.newManagedConnectionFactoryCommand"
               label="New Managed Connection Factory"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ResourceAdapterSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.jca.adapters.sap.ui.newManagedConnectionCommand"
               label="New Managed Connection"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ManagedConnectionFactorySelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.jca.adapters.sap.ui.newConnectionCommand"
               label="New Connection"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ManagedConnectionSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.jca.adapters.sap.ui.newInteractionCommand"
               label="New Interaction"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ConnectionSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.jca.adapters.sap.ui.editInteractionCommand"
               label="Edit Interaction"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="InteractionSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.jboss.jca.adapters.sap.ui.view.SapConnectionsView?after=edit">
         <command
               commandId="org.eclipse.ui.edit.undo"
               disabledIcon="icons/full/dtool16/undo_edit.gif"
               icon="icons/full/etool16/undo_edit.gif"
               label="&amp;Undo"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               disabledIcon="icons/full/dtool16/redo_edit.gif"
               icon="icons/full/etool16/redo_edit.gif"
               label="&amp;Redo"
               style="push">
         </command>
         <separator
               name="org.jboss.jca.adatpers.sap.ui.CCPSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.cut"
               disabledIcon="icons/full/dtool16/cut_edit.gif"
               icon="icons/full/etool16/cut_edit.gif"
               label="&amp;Cut"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               disabledIcon="icons/full/dtool16/copy_edit.gif"
               icon="icons/full/etool16/copy_edit.gif"
               label="&amp;Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               disabledIcon="icons/full/dtool16/paste_edit.gif"
               icon="icons/full/etool16/paste_edit.gif"
               label="&amp;Paste"
               style="push">
         </command>
         <separator
               name="org.jboss.jca.adatpers.sap.ui.CCPSeparatorEnd"
               visible="true"></separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="icons/full/dtool16/delete.gif"
               icon="icons/full/etool16/delete.gif"
               label="&amp;Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.jboss.jca.adapters.sap.ui.view.SapConnectionsView">
         <command
               commandId="org.jboss.jca.adapters.sap.ui.selectFunction"
               label="Select Function"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.jboss.jca.adapters.sap.ui.editor.InteractionEditor">
         <command
               commandId="org.jboss.jca.adapters.sap.ui.newTableRow"
               label="Add Row"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="TableSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.jca.adapters.sap.ui.deleteTableRow"
               label="Delete Row"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.NewManagedConnectionFactoryHandler"
            id="org.jboss.jca.adapters.sap.ui.newManagedConnectionFactoryCommand"
            name="New Managed Connection Factory">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.NewManagedConnectionHandler"
            id="org.jboss.jca.adapters.sap.ui.newManagedConnectionCommand"
            name="New Managed Connection">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.NewConnectionHandler"
            id="org.jboss.jca.adapters.sap.ui.newConnectionCommand"
            name="New Connection">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.NewInteractionHandler"
            id="org.jboss.jca.adapters.sap.ui.newInteractionCommand"
            name="New Interaction">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.NewExecutionHandler"
            id="org.jboss.jca.adapters.sap.ui.newExecution"
            name="New Execution">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.EditManagedConnectionFactoryHandler"
            id="org.jboss.jca.adapters.sap.ui.editManagedConnectionFactoryCommand"
            name="Edit Managed Connection Factory">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.EditManagedConnectionHandler"
            id="org.jboss.jca.adapters.sap.ui.editManagedConnectionCommand"
            name="Edit Managed Connection Command">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.EditConnectionHandler"
            id="org.jboss.jca.adapters.sap.ui.editConnectionCommand"
            name="Edit Connection">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.SelectFunction"
            id="org.jboss.jca.adapters.sap.ui.selectFunction"
            name="Select Function">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.EditInteractionHandler"
            id="org.jboss.jca.adapters.sap.ui.editInteractionCommand"
            name="Edit Interaction">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.NewTableRowHandler"
            id="org.jboss.jca.adapters.sap.ui.newTableRow"
            name="New Table Row">
      </command>
      <command
            defaultHandler="org.jboss.jca.adapters.sap.ui.command.DeleteTableRowHandler"
            id="org.jboss.jca.adapters.sap.ui.deleteTableRow"
            name="Delete Table Row">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ResourceAdapterSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.jboss.jca.adapters.sap.model.spi.ResourceAdapter">
               </instanceof></iterate>
         </with>
      </definition>
      <definition
            id="ManagedConnectionFactorySelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.jboss.jca.adapters.sap.model.spi.ManagedConnectionFactory">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ManagedConnectionSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.jboss.jca.adapters.sap.model.spi.ManagedConnection">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ConnectionSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.jboss.jca.adapters.sap.model.cci.Connection">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="InSapConnectionsView">
         <with
               variable="activePartId">
            <equals
                  value="org.jboss.jca.adapters.sap.ui.view.SapConnectionsView">
            </equals>
         </with>
      </definition>
      <definition
            id="InteractionSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.jboss.jca.adapters.sap.model.cci.Interaction">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="InInteractionEditor">
         <with
               variable="activePartId">
            <equals
                  value="org.jboss.jca.adapters.sap.ui.editor.InteractionEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="TableSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.jboss.sap.rfc.Table">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.jca.adapters.sap.ui.command.CutHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.jca.adapters.sap.ui.command.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.jca.adapters.sap.ui.command.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.jca.adapters.sap.ui.command.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.jca.adapters.sap.ui.command.UndoHandler"
            commandId="org.eclipse.ui.edit.undo">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.jca.adapters.sap.ui.command.RedoHandler"
            commandId="org.eclipse.ui.edit.redo">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jboss.jca.adapters.sap.ui.editor.InteractionEditor"
            default="false"
            id="org.jboss.jca.adapters.sap.ui.editor.InteractionEditor"
            name="Interaction Editor">
      </editor>
   </extension>

</plugin>
